* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cor-clara: #e6ddd3;
  --cor-escura: #161716;
  --cor-dourada: #cf9040;
  --cor-dourada-clara: #bf9253;
  --cor-marrom: #6f5244;
  --cor-vermelha: #ff0000;
  --border-radius: 10px;
}

body {
  background-color: var(--cor-clara);
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

span {
  color: var(--cor-dourada);
}

/* MAIN */

/* HERO */

#hero {
  width: 100%;
  height: 100vh;
  background-color: var(--cor-escura);
  position: relative;
}

#hero::before {
  position: absolute;
  z-index: 1;
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

#hero h1 {
  color: var(--cor-clara);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  font-size: 2rem;
  z-index: 2;
}

.hero-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40rem;
}

.hero-video video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.scroll-down {
  position: absolute;
  z-index: 2;
  width: 40px;
  top: 85%;
  left: 50%;
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(0, 10px);
  }

  70% {
    transform: translate(0);
  }

  100% {
    transform: translate(0, 10px);
  }
}

/* SOBRE */

#about {
  margin: 5rem 0;
}

.about-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35%;
}

.about-text-container h3 {
  color: var(--cor-dourada);
  font-size: 1.5rem;
}

.about-text-container a {
  padding: 0.8rem;
  min-width: 10rem;
  width: 5rem;
  background-color: var(--cor-dourada);
  text-decoration: none;
  color: var(--cor-clara);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  transition: 0.2s ease;
}

.about-container a:hover {
  background-color: var(--cor-escura);
}

.inarai-home-image {
  max-width: 100%;
  width: 300px;
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* GALERIA */

#gallery {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-heading {
  color: var(--cor-dourada);
  text-align: center;
}

.section-sub-heading {
  font-weight: 300;
  margin: 1rem 0 4rem;
  text-align: center;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.gallery-card {
  width: 25rem;
  height: 25rem;
  border-radius: 15px;
}

.card1 {
  background-image: url(../assets/img/kit-pickle-v2.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}

.card1:hover {
  background-color: #161716;
}

.gallery-container > :nth-child(2) {
  background-image: url(../assets/img/kit-aleyna.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}

.gallery-container > :nth-child(3) {
  background-image: url(../assets/img/kit-willa.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}

.gallery-container > :nth-child(4) {
  background-image: url(../assets/img/kit-laura2.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}
.gallery-container > :nth-child(5) {
  background-image: url(../assets/img/kit-katie-marie2.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}
.gallery-container > :nth-child(6) {
  background-image: url(../assets/img/kit-micaiah.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}

.gallery-container > :nth-child(2):hover,
.gallery-container > :nth-child(3):hover,
.gallery-container > :nth-child(4):hover,
.gallery-container > :nth-child(5):hover,
.gallery-container > :nth-child(6):hover,
.card1:hover {
  transform: scale(1.02);
}

/* ENCOMENDAS */

#order {
  margin: 5rem 0;
}

.order-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.order-cards {
  max-width: 68%;
  height: 16rem;
  display: flex;
  background-color: var(--cor-marrom);
  border-radius: var(--border-radius);
}

.order-card-image {
  width: 50%;
  background-image: url(../assets/img/kit-cru.jpg);
  background-position: 50% 25%;
  background-size: cover;
  border-radius: 10px 0 0 10px;
}

.order-card-image.second {
  background-image: url(../assets/img/hand-showing-credit-card-laptop.jpg);
  border-radius: 0 10px 10px 0;
}

.order-card-image.third {
  background-image: url(../assets/img/composicao-de-vista-superior-de-materiais-de-pintura.jpg);
}

.order-card-image.fourth {
  background-image: url(../assets/img/close-up-woman-receiving-pack.jpg);
  border-radius: 0 10px 10px 0;
}

.order-card-text {
  text-align: center;
  padding: 3rem 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-card-text h4 {
  color: var(--cor-dourada-clara);
  font-size: 1.3rem;
  padding-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.order-card-text p {
  color: var(--cor-clara);
}

/* FEEDBACK */

#feedback {
  margin: 5rem 2rem;
}

.feedback-container {
  margin-top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.feedback-cards {
  position: relative;
  padding: 4rem 2rem 0;
  width: 20rem;
  height: 25rem;
  border-radius: var(--border-radius);
  background-color: var(--cor-marrom);
}

.feedback-image {
  position: absolute;
  top: -70px;
  left: 100px;
  width: 120px;
  height: 120px;
  background-color: #d0d0d0;
  border-radius: 50%;
  background-image: url(../assets/img/cliente.jpg);
  background-size: cover;
  background-position: center;
  border: 1px solid var(--cor-marrom);
}

.feedback-image.second {
  position: absolute;
  top: -70px;
  left: 100px;
  width: 120px;
  height: 120px;
  background-color: #d0d0d0;
  border-radius: 50%;
  background-image: url(../assets/img/cliente2.jpg);
  background-size: cover;
  background-position: center;
  border: 1px solid var(--cor-marrom);
}

.feedback-image.third {
  position: absolute;
  top: -70px;
  left: 100px;
  width: 120px;
  height: 120px;
  background-color: #d0d0d0;
  border-radius: 50%;
  background-image: url(../assets/img/cliente3.jpg);
  background-size: cover;
  background-position: center;
  border: 1px solid var(--cor-marrom);
}

.feedback-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feedback-text h4 {
  color: var(--cor-dourada);
  font-weight: 500;
  font-size: 1.2rem;
}

.feedback-text h5 {
  color: var(--cor-clara);
  font-weight: 500;
}

.feedback-text p {
  color: var(--cor-clara);
  font-size: 0.9rem;
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
}

/* CTA */

#cta {
  background-image: url(../assets/img/female-artist-painting-indoors.jpg);
  background-size: cover;
  background-position: center;
  margin: 5rem 0 0;
  position: relative;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #161716;
  text-align: center;
}

#cta::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.8);
}

#cta h2 {
  z-index: 98;
  color: var(--cor-clara);
  max-width: 70%;
  font-size: 1.8rem;
}

#cta a {
  z-index: 999;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  background-color: var(--cor-dourada);
  color: var(--cor-clara);
  text-align: center;
  border-radius: var(--border-radius);
  transition: 0.3s ease;
}

#cta a:hover {
  transform: scale(1.05);
}

/* RESPONSIVE */

@media screen and (max-width: 1104px) {
  .feedback-container {
    gap: 7rem;
  }
}

@media screen and (max-width: 1024px) {
  .order-cards {
    max-width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .gallery-card {
    width: 18rem;
    height: 18rem;
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-text-container {
    gap: 2rem;
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  .order-card-text h4 {
    font-size: 1.2rem;
  }

  .order-card-text p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 675px) {
  #gallery {
    margin: 5rem 2rem;
  }

  .gallery-container {
    grid-template-columns: 1fr;
  }

  .gallery-card {
    width: 22rem;
    height: 22rem;
  }

  #order .section-heading {
    margin: 0 3rem;
  }

  #order .section-sub-heading {
    margin: 1rem 3rem 4rem;
  }

  .order-card {
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .order-card-image {
    display: none;
  }

  .order-card-text {
    width: 100%;
  }

  .order-card-text h4 {
    font-size: 1.3rem;
  }

  .order-card-text p {
    font-size: 1rem;
  }

  #cta h2 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 425px) {
  #hero h1 {
    font-size: 1.8rem;
  }

  .inarai-home-image {
    width: 250px;
    margin: 0 1rem -1rem;
  }

  .gallery-card {
    width: 18rem;
    height: 18rem;
  }

  #order .section-heading {
    margin: 0 1.5rem;
  }

  #order .section-sub-heading {
    margin: 1rem 1.5rem 4rem;
  }

  .order-cards {
    height: 18rem;
  }

  .order-card-text h4 {
    font-size: 1.2rem;
  }

  .order-card-text p {
    font-size: 0.9rem;
  }

  .feedback-text p {
    font-size: 0.8rem;
  }

  #cta h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .gallery-card {
    width: 15rem;
    height: 15rem;
  }

  .feedback-image {
    left: 60px;
  }
}
